.place__image {
    width: 100%;
    max-width: 460px;
    max-height: 460px;
    object-fit: contain;
}

@media (max-width: 700px) {
    .place__image {
        width: calc(100vw - 48px);
        max-width: 700px;
        max-height: 700px;
    }
}

@media (max-width: 320px) {
    .place__image {
        width: 100vw;
        margin: 0 -16px;
    }
}