.header {
    width: 100%;
    max-width: calc(1184px + 48px + 48px);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 48px;
    box-sizing: border-box;
}

@media (max-width: 864px) {
    .header {
        padding: 0 calc((0.25 * 100vw) - 168px);
        
    }
}

@media (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .header {
        padding: 0 16px;
    }
}