.lead__image {
    margin: 64px 0 0 0;
    padding: 0 48px;
    width: 100vw ;
    max-width: 1080px;
    box-sizing: border-box;
}

@media (max-width: 864px) {
    .lead__image {
        padding: 0 calc((0.5 * 100vw) - 384px);

    }
    
}

@media (max-width: 768px) {
    .lead__image {
        padding: 0;

    }
    
}