.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    padding: 0 48px;
}

@media (max-width: 1279px) {
    .place {
        grid-template-columns: calc((0.08 * 100vw) + 359.69px) 1fr;
    }
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        grid-template-columns: calc((0.39 * 100vw) + 38.82px) 1fr;
    }
}
@media (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        padding: 0 24px;
        gap: 48px 28px;
    }
}

/* Возможно рановато уходить в один столбик, но иначе текст становиться уже не читаемым.
При этом картинку пришлось растянуть, хотя этот момент, признаюсь спорный, 
и в рекльной ситуации я обсудил бы его с дизайнером */
@media (max-width: 700px) {
    .place {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 320px) {
    .place {
        padding: 0 16px;
        gap: 32px;
    }
}