.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
}

@media (max-width: 1279px) {
    .place {
        grid-template-columns: calc((0.08 * 100vw) + 359.69px) 1fr;
    }
}

@media (max-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media (max-width: 1023px) {
    .place {
        grid-template-columns: calc((0.39 * 100vw) + 38.82px) 1fr;
    }
}
@media (max-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
    }
}