.place__url-heading {
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #aaa;
    margin-bottom: 12px;
    /* Тут в Фигме расходятся цифры и отображение. Расстояние указано 12px до блока, 
    но буквы в Фигме отображаются ниже границы описывающего их блока. Ориентировался на цифры, поясняющая картинка тут -
    https://pastenow.ru/c662f9593ebe6498b800dfa2d24bea2a */
}